<?xml version="1.0"?>
<launch>
 
  <node name="detect" pkg="yolo-detection" type="detect.py" respawn="true"
        args="--weights '/d_robot/catkin_ws/src/yolo-detection/src/yolov5/best.pt'"
        output="screen" />
    
  
  <include file="$(find rotation-ctrl)/launch/rot_ctrl.launch" />


</launch>
